
<ul>
  <h2><%= @pet.name %></h2>
  <h4><%= @pet.description %></h4>
  <h5><%= @pet.gender%></h5>
  <h5><%= @pet.breed%></h5>
  <h5><%= @pet.weight%></h5>
  <h5><%= @pet.color%></h5>
  <h5><%= @pet.age%></h5>
  <h5><%= @pet.energy_level%></h5>
  <h5><%= @pet.needs_yard%></h5>
  <h5><%= @pet.kids_ok%></h5>
  <h5><%= @pet.special_needs%></h5>
  <h5><%= @pet.fees%></h5>
   </ul>
<a href="/pets">Back to all Pets</a>
<h6><img src="<%= @pet.image %>"></h6>